Source: openapp-nap
Section: web
Priority: extra
Maintainer: Mark Schouten <mark@tuxis.nl>
Build-Depends: debhelper, imagemagick
Standards-Version: 3.9.1
Homepage: http://www.openpanel.com/openapp/

Package: openapp-nap
Architecture: all
Depends: openapp-backup, openpanel-api-sh, openpanel-cli, openpanel-core, openpanel-mod-iptables, openpanel-mod-keepalived, openpanel-mod-networking, openpanel-mod-pptpd, openpanel-openapp-gui, openpanel-openapp-mod-backup, openpanel-openapp-nap-artwork, openpanel-openapp-mod-smtp, openpanel-openapp-mod-user
Description: This will turn your machine in a perfect High Available Loadbalancer and Firewall

Package: openpanel-openapp-mysql-artwork
Architecture: all
Description: Artwork for OpenApp NAP
 Artwork for OpenApp NAP
